
.card{
    margin-bottom: 5em;
    text-align: center;
}

.card-img-top{
    height: 35vh;
}

.card-link{
    font-size: 150%;

}
.card-text{
    height: 18vh;
}

.card-title{
    padding: 3%;
}

@keyframes showprojects-left {
    from {
        transform: translateX(900%); /* Ajusta el valor según sea necesario */
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}


#cardAnimation {
    object-fit: cover;
    view-timeline-name: --reveal;
    animation-fill-mode: both;
    animation-timeline: --reveal;
    animation-range: entry 0% cover 50%;
    animation-name: showprojects-left;
    will-change: transform, opacity;
}
