


.card-body {
    text-align: center;
}

.card {
    margin-bottom: 2em;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; /* Ajusta la altura para que el contenido se distribuya mejor */
}

.card-img-top {
    height: 35vh;
    object-fit: cover;
}

.card-link {
    font-size: 150%;
    text-align: center;
}

.card-text {
    height: 40vh;
    text-align: left;
    margin: 2%;
    overflow: hidden; /* Evita el desbordamiento */
    word-wrap: break-word; /* Permite cortar las palabras si son muy largas */
    font-size: 100%; /* Escala el texto basado en el tamaño de la ventana */
    line-height: 1.5;
}

.card-title {
    padding: 3%;
    font-size: 200%;
}

@keyframes showprojects-left {
    from {
        transform: translateX(900%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

#cardAnimation {
    object-fit: cover;
    view-timeline-name: --reveal;
    animation-fill-mode: both;
    animation-timeline: --reveal;
    animation-range: entry 0% cover 50%;
    animation-name: showprojects-left;
    will-change: transform, opacity;
}
