/*Fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');
/*hearders: font-family: "Protest Guerrilla", sans-serif;*/

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

#mainImage-header {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#mainImage-header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
}

#mainImage-header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
}

.image-text {
    position: absolute;
    top: 40%;
    left: 20%; 
    transform: translate(-50%, -50%);
    text-align: center;
}

.image-text .title{
    font-family: "Protest Guerrilla", sans-serif;
    letter-spacing: 1vw;
    font-size: 4em;
    color: #ff0000;
    text-shadow: 3px 3px 3px rgb(170, 170, 170); 
    margin-bottom: 6px;
}

h2{
    padding-top: 2%;
    text-align: center;
    text-shadow: 2px 2px rgb(255, 241, 43);
}


.image-text .text{
    font-size: 2em;
    color: rgb(251, 255, 0);
    text-shadow: 3px 3px 3px rgb(141, 137, 137); 
}

#ShowMore-btn{
    margin-top: 20px;
    border-color: white;
    background-color: transparent;
    transform: rotate(45deg);
    transition: all 0.25s ease-in; 
    border: 2px solid white; 
}

#ShowMore-btn:hover {
    background-color: white;
    scale: 1.1;
}

#arrow-down {
    color: white; 
    transition: all 0.25s ease-in; 
    transform: rotate(-45deg);
    font-size: 35px;
}

#ShowMore-btn:hover #arrow-down {
    color: black;
}
/* 
#Carrito-compras{
    font-size: 30px;
}


.product-list {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.product {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.boton-item {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.boton-item:hover {
    background-color: #218838;
}

.cart-items {
    position: fixed;
    right: 0;
    top: 60px;
    width: 300px;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

#clear-cart {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
} */

/*seccion carrito*/
.contenedor{
    max-width: 1200px;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    contain: paint;
}

.carrito{
    border: 1px solid green;
    width: 35%;
    margin-top: 30px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: auto;
    position: sticky !important;
    top: 0;
    transition: .3s;
}

.carrito .header-carrito{
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}

.carrito .carrito-item{
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid gray;
    padding: 20px;
}

.carrito .carrito-item img{
    margin-right: 20px;
}

.carrito .carrito-item .carrito-item-titulo{
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.carrito .carrito-item .selector-cantidad{
    display: inline-block;
    margin-right: 25px;
}

.carrito .carrito-item .carrito-item-cantidad{
    border: none;
    font-size: 18px;
    background: transparent;
    display: inline-block;
    width: 30px;
    padding: 5px;
    text-align: center;
}

.carrito .carrito-item .selector-cantidad i{
    font-size: 18px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid black;
    cursor: pointer;
}

.carrito .carrito-item .carrito-item-precio{
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 5px;
}

.carrito .carrito-item .btn-eliminar{
    position: absolute;
    right: 15px;
    top: 15px;
    color: black;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid black;
    cursor: pointer;
    display: block;
    background: transparent;
    z-index: 20;
}

.carrito .carrito-item .btn-eliminar i{
    pointer-events: none;
}

.carrito-total{
    background-color: #f3f3f3;
    padding: 30px;
}

.carrito-total .fila{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.carrito-total .btn-pagar{
    display: block;
    width: 100%;
    border: none;
    background: black;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: .3s ;
}

.carrito-total .btn-pagar:hover{
    scale: 1.05;
}

/*seccion responsive*/
@media screen and (max-width:850px){
    .contenedor{
        display: block;
    }
    .contenedor-items{
        width: 100% !important;
    }
    .carrito{
        width: 100%;
    }
}