/*Fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');
/*hearders: font-family: "Protest Guerrilla", sans-serif;*/

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

#mainImage-header {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#mainImage-header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
}

#mainImage-header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
}

.image-text {
    position: absolute;
    top: 40%;
    left: 20%; 
    transform: translate(-50%, -50%);
    text-align: center;
}

.image-text .title{
    font-family: "Protest Guerrilla", sans-serif;
    letter-spacing: 1vw;
    font-size: 4em;
    color: #ff0000;
    text-shadow: 3px 3px 3px rgb(170, 170, 170); 
    margin-bottom: 6px;
}

h2{
    padding-top: 2%;
    text-align: center;
    text-shadow: 2px 2px rgb(255, 241, 43);
}


.image-text .text{
    font-size: 2em;
    color: rgb(251, 255, 0);
    text-shadow: 3px 3px 3px rgb(141, 137, 137); 
}

#ShowMore-btn{
    margin-top: 20px;
    border-color: white;
    background-color: transparent;
    transform: rotate(45deg);
    transition: all 0.25s ease-in; 
    border: 2px solid white; 
}

#ShowMore-btn:hover {
    background-color: white;
    scale: 1.1;
}

#arrow-down {
    color: white; 
    transition: all 0.25s ease-in; 
    transform: rotate(-45deg);
    font-size: 35px;
}

#ShowMore-btn:hover #arrow-down {
    color: black;
}

#Carrito-compras{
    font-size: 30px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #f8f8f8;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.cart {
    position: absolute;
    top: 10px;
    right: 20px;
}

.product-list {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.product {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.add-to-cart {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.add-to-cart:hover {
    background-color: #218838;
}

.cart-items {
    position: fixed;
    right: 0;
    top: 60px;
    width: 300px;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

#clear-cart {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
