<div class="header-carrito">
     <h3>Tu carrito</h3>
   </div>

   <div class="carrito-items">
     <!--Se insertan los carros desde el JS-->
   </div>

   <div class="carrito-total">
     <div class="fila">
          <strong>SubTotal</strong>
          <span class="carrito-precio-subtotal">$0</span>

          <Strong>Iva</Strong>
          <span class="carrito-precio-IVA">0%</span>
          
          <strong>Tu total</strong>
          <span class="carrito-precio-total">$0</span>
     </div>
     <button class="btn-pagar" onclick="pagarClicked()">Pagar <i class="fa-solid fa-bag-shopping"></i></button>
     <button class="btn-actualizar" onclick="Btn_ActualizarCarro_LocalStorage()"><i class="fa-solid fa-arrows-rotate"></i></button>
   </div>