
<nav id="navbarMenu">
  <ul id="navList">
      <li class="nav-Items" id="logo-icon-navbar"><a href="/html/index.html" class="links-Navbar" ><img src="/assets/media/icons/logoHome.webp" width="55px" height="55px" style="border-radius: 20px;"></a></li>

      <li class="nav-Items"><a href="/html/cars/Ferrari.html" class="links-Navbar"><img src="/assets/media/icons/ferrari.svg" width="45px" height="45px"> Ferrari</a></li>
      
      <li class="nav-Items"><a href="/html/cars/Koenigsegg.html" class="links-Navbar"><img src="/assets/media/icons/f2bf43_179328483f634f938a5a638b192b6005~mv2.png" width="65px" height="55px"> Koenigsegg</a></li>

      <li class="nav-Items"><a href="/html/cars/Lamborghini.html" class="links-Navbar"><img src="/assets/media/icons/lamborghini.svg"  height="45px"> Lamborghini</a></li>

      <div class="cart">
        <button class="nav-Items" id="cart-button">Carrito (<span id="cart-count">0</span>)</button>
      </div>
      
    </ul>
  </nav>

  <script src="/scripts/carrito-compras/carrito-compras.js"></script>

  

  
  