body {
    padding: 0;
    margin: 0;
}

#mainImage-header {
    position: relative;
    width: 100%;
    height: 67vh;
}

#mainImage-header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-text {
    position: absolute;
    top: 50%;
    left: 30%; /* Ajusta este valor para mover el texto hacia la izquierda o derecha */
    transform: translate(-50%, -50%);
    color: white; /* O el color que desees para que el texto se vea bien sobre la imagen */
    font-size: 2em; /* Ajusta el tamaño del texto si es necesario */
    text-align: center;
}
